body {
  padding: 10px;
  margin-left: 5px;
  background-image: linear-gradient(to right, azure, #00BFFF, #8BC543);
}

.left-column, .right-column {
  background-color: white;
}

.section-bottom {
  background-color: white;
}

.nwbrt-logo-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.nwbrt-img-gradient {
  max-width: 92%;
  height: auto;
}

.nwbrt-color-white {
  color: #FFFFFF;
}

.nwbrt-color-blue {
  color: #00BFFF;
}

.nwbrt-color-green {
  color: #8BC543;
}

.section-top .column-padding {
  padding: 30px;
}

.section-bottom-padding {
  padding: 30px;
}

.section-bottom .address-font {
  font-size: 85%;
}

.section-bottom .company-font {
  font-size: 90%;
}

.span-display-block {
  display: block;
}

.address-separator-width {
  width: 50%;
}

.address-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 15px;
  text-align: center;
}

.last-card {
  width: 100%;
}

@media only screen and (min-width: 1001px) {
  #section-top-tablet-mobile {
    display : none;
  }
  #section-bottom-tablet {
    display : none;
  }
  #section-bottom-mobile {
    display : none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
  #section-top-desktop {
    display : none;
  }
  #section-bottom-desktop {
    display : none;
  }
  #section-bottom-mobile {
    display : none;
  }
}

@media only screen and (max-width: 767px) {
  #section-top-desktop {
    display : none;
  }
  #section-bottom-tablet {
    display : none;
  }
  #section-bottom-desktop {
    display : none;
  }
}