.nwbrt-gradient {
  background-image: linear-gradient(to right, #00BFFF, #8BC543);
  height: 150px;
  padding: none;
  position: relative;
  text-align: center;
  color: white;
}

.nwbrt-top-img-gradient {
  height: 150px;
  padding: none;
  position: relative;
  text-align: center;
  color: white;
}

.text-position {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -30%);
}

.nwbrt-small-img {
  max-width: 92%;
  height: auto;
}

.members-padding {
  padding-top: 30px;
  padding-bottom: 30px;
}

.nwbrt-img-with-gradient {
  object-fit: cover;
  width: 100%;
  min-height: 10rem;
}

.txt-align {
  text-align: center;
}

.left-column, .right-column {
  background-color: white;
}

.section-bottom {
  background-color: #F8F8F8;
  color: black;
}

.nwbrt-logo-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*width: 30%;*/
  width: 20rem;
}

.nwbrt-footer {
  background-color: #F8F8F8;
  padding-top: 30px;
  padding-bottom: 30px;
  color: black;
}

.nwbrt-color-white {
  color: #FFFFFF;
}

.nwbrt-color-blue {
  color: #00BFFF;
}

.nwbrt-color-green {
  color: #8BC543;
}

.section-bottom {
  postion: absolute;
  top: 0;
  right 0;
}

.section-bottom .address-font {
  font-size: 85%;
}

.section-bottom .company-font {
  font-size: 90%;
}

.span-display-block {
  display: block;
}

.address-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 15px;
  text-align: center;
  background-color: white;
}

.last-card {
  width: 100%;
}

@media only screen and (min-width: 1001px) {
  #section-top-tablet-mobile {
    display : none;
  }
  #section-bottom-tablet {
    display : none;
  }
  #section-bottom-mobile {
    display : none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
  #section-top-desktop {
    display : none;
  }
  #section-bottom-desktop {
    display : none;
  }
  #section-bottom-mobile {
    display : none;
  }
}

@media only screen and (max-width: 767px) {
  #section-top-desktop {
    display : none;
  }
  #section-bottom-tablet {
    display : none;
  }
  #section-bottom-desktop {
    display : none;
  }
}